// link
.link-with-icon{
  display: inline-block;
  & span{
    vertical-align: middle;
    transition: $transition-base;
  }
  &:hover{
    span{
      transform: translateX(3px);
      margin-left: 8px;
    }
  }
}
